#app{

    main{
        background-color: #1c1c1c;

        .section-one{
            @include centring;
            position: relative;

            div.current{
                height: 50px;
                width: 250px;
                background-color: $color1;
                text-align: center;
                line-height: 50px;
                position: absolute;
                top: -25px;
                left: 0;

                h2{
                    color: $color2;
                    text-transform: uppercase;
                }
            }
            ul{
                list-style: none;
                @include display-flex-row(flex-start, space-between);
                flex-wrap: wrap;

                li{
                    padding-top: 40px;
                    width: 234px;
                    margin-top: 10px;
                    
                    a{
                    text-decoration: none;
                        div.box{
                            width: 250px;
                            
                            div.box-img{
                                height: 250px;
                                overflow: hidden;

                                img{
                                width: 100%;
                                padding: 20px;
                                }
                            }
                            h3{
                                color: $color2;
                                text-transform: uppercase;
                                margin: 10px 19px;
                                word-break: break-all;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            div.load-button{
                text-align: center;

                button{
                    padding: 12px 40px;
                    background-color: $color1;
                    color: $color2;
                    border: none;
                }
            }
        }
        .section-two{
            margin-top: 20px;
            background-color: $color1;

            ul{
                @include centring;
                list-style: none;
                @include display-flex-row(center, space-between);
                padding: 50px 0;

                li{
                    @include display-flex-row(center, center);

                    img{
                        height: 60px;
                        padding-right: 10px;
                    }
                    span{
                        color: $color2;
                        text-transform: uppercase;
                    }
                    #img-svg{
                        height: 45px;
                    }
                }
            }
        }

        
        
    }
}